@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.product-card {
  background-color: #fbfdff;
  width: 400px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  margin-bottom: 32px;
}
.nameInput {
  width: 100%;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 500;
  color: rgba(0,0,0,.6);
}
.textAreaWrp {
  width: 400px;
  margin-bottom: 16px;
  textarea{
    height: 100%;
  }
  .textArea {
    width: 100%;
  }
}
.cost {
  display: flex;
  justify-content: flex-end;
}
.costWrp{
  margin-bottom: 24px;
}

.errr {
  width: 100%;
}
